<!-- <div id="container"> -->
<!--   <header>
  <h3><a href="/login">Login</a> | Signup</a></h3>
    <form action="/signup" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" required/>
      <br>

      <label for="password">Password:</label>
      <input type="password" name="password" required/>
      <br>

      <input type="submit" name="Signup"/>
    </form>
  </header>
  <div id="main">
    <img src="http://produmbbellworkouts.com/wp-content/uploads/2012/12/dumbbell-rack2.jpg">
  </div>
  <footer>
  this is the footer
  </footer>
  </div> -->
<!-- </div> -->
<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

  <form class="form-signin" action="/signup" method="post">
    <h1 class="form-signin-heading text-muted"><a href="/login">In</a> | Up</h1>
    <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="">
    <input type="password" name="password" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign Up
    </button>
  </form>

</div>
